@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom reset */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #020617; /* deep navy background */
  color: white;
  font-family: 'Inter', sans-serif;
}
